<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="vacation, sea, beach, pool, swimming, summer, party"
    />
    <meta
      name="keywords"
      content="travel, vacation, sea, beach, sun, swimming, party"
    />
    <meta name="author" content="Momir Iliev" />
    <link rel="stylesheet" href="../assets/styles.css" type="text/css" />
    <title>Travel Agency</title>
  </head>
  <body>
    <header>
      <div>
        <img
          id="logo"
          src="../pictures/LogosAndBackgrounds/logo.jpg"
          alt="logoHomepage"
        />
        <h1 id="titleHeading">
          Jobs fill your pockets, adventures fill your soul
        </h1>
      </div>
      <div id="navBarBase">
        <nav id="mainNav">
          <ul id="navBar">
            <li><a href="#">Home Page</a></li>
            <li>
              <a href="../templates/southMacedonia.html">South Macedonia</a>
            </li>
            <li>
              <a href="../templates/ohrid.html">Ohrid</a>
            </li>
            <li><a href="../templates/turkey.html">Turkey</a></li>
            <li><a href="../templates/registration.html">Let's Travel</a></li>
          </ul>
        </nav>
      </div>
      <form id="searchBar" action="">
        <ul>
          <li>
            <label for="search">Search</label>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="your favorite destination?"
            />
            <input type="submit" value="Go" id="submitButton" />
          </li>
        </ul>
      </form>
      <br />
    </header>
    <main>
      <h2 id="titleMain">
        Traveling is like a fountain of youth for your soul. <br />
        Let us make you younger
      </h2>
      <table id="tableMainPage">
        <thead id="tableMainPageHead">
          <th>
            <a href="../templates/southMacedonia.html">South Macedonia</a>
          </th>
          <th><a href="../templates/ohrid.html">West Macedonia</a></th>
          <th><a href="../templates/turkey.html">Turkey</a></th>
        </thead>
        <tbody id="tableMainPageBody">
          <td>
            Halkidiki, also spelled Chalkidiki, is a peninsula in Northern
            Greece. It is located not far from Thessaloniki on the Aegean Sea
            and consists of three so-called “fingers”: Kassandra, Sithonia and
            Athos. It is a great vacation destination
          </td>
          <td>
            Ohrid is a charming city, also known as the pearl of Macedonia, and
            beautiful Ohrid pearls are worn even by Queen Elisabeth II. Discover
            the most beautiful attractions of Ohrid, a city located on the shore
            of the picturesque Lake Ohrid at the foot of the Galicica Mountain
            Range. The uniqueness of this region is proven by the fact that it
            has been listed in the UNESCO World Heritage List since 1979. Its
            treasures of architecture and diverse nature make it an ideal summer
            destination.
          </td>
          <td>
            The combination of breathtaking natural beauty, historic and
            cultural sites, along with great food, makes Turkey one of the top
            tourist destinations in the world. Crystal clear waters, tall
            mountains, the ruins of ancient empires small idyllic villages, huge
            cosmopolitan cities – there are so many reasons why you should stay
            in Turkey.
          </td>
        </tbody>
      </table>
    </main>
    <aside id="asideFavList">
      <h2>Most visited destinations</h2>
      <ul>
        <li>Halkidiki</li>
        <li>Antalya</li>
        <li>Ohrid</li>
        <li>Crete</li>
        <li>Zakynthos</li>
      </ul>
    </aside>
    <footer>
      <a href="#">Dream Travel</a>
    </footer>
  </body>
</html>
