<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="vacation, sea, beach, pool, swimming, summer, party"
    />
    <meta
      name="keywords"
      content="travel, vacation, sea, beach, sun, swimming, party"
    />
    <meta name="author" content="Momir Iliev" />
    <link rel="stylesheet" href="../assets/newStyles.css" type="text/css" />
    <title>Dream Travel</title>
  </head>
  <body>
    <header>
      <div id="parentDiv">
        <div id="logoImg">
          <img
            id="logo"
            src="../pictures/LogosAndBackgrounds/logo.jpg"
            alt="logoHomepage"
          />
          <h1 id="companyName">Dream Travel</h1>
          <h1 id="titleHeading">
            Jobs fill your pockets, adventures fill your soul
          </h1>
        </div>
      </div>
      <div id="navBarBase">
        <nav id="mainNav">
          <ul id="navBar">
            <li><a href="#">Home Page</a></li>
            <li>
              <a href="../templates/southMacedonia.html">South Macedonia</a>
            </li>
            <li>
              <a href="../templates/ohrid.html">Ohrid</a>
            </li>
            <li><a href="../templates/turkey.html">Turkey</a></li>
            <li><a href="../templates/registration.html">Let's Travel</a></li>
          </ul>
        </nav>
      </div>
      <form id="searchBar" action="">
        <ul>
          <li>
            <label for="search">Search</label>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="your favorite destination?"
            />
            <input type="submit" value="Go" id="submitButton" />
          </li>
        </ul>
      </form>
    </header>
  </body>
</html>
