<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ohrid</title>
    <link rel="stylesheet" href="../assets/styles.css" />
  </head>
  <body>
    <header>
      <div>
        <img
          id="logo"
          src="../pictures/LogosAndBackgrounds/logo.jpg"
          alt="logoHomepage"
        />
        <h1 id="titleHeading">
          Jobs fill your pockets, adventures fill your soul
        </h1>
      </div>
      <div id="navBarBase">
        <nav>
          <ul id="navBar">
            <li><a href="../templates/index.html">Home Page</a></li>
            <li>
              <a href="../templates/southMacedonia.html">South Macedonia</a>
            </li>
            <li>
              <a href="../templates/ohrid.html">Ohrid</a>
            </li>
            <li><a href="../templates/turkey.html">Turkey</a></li>
            <li><a href="../templates/registration.html">Let's Travel</a></li>
          </ul>
        </nav>
      </div>
      <form id="searchBar" action="">
        <ul>
          <li>
            <label for="search">Search</label>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="your favorite destination?"
            />
            <input type="submit" value="Go" id="submitButton" />
          </li>
        </ul>
      </form>
      <br />
    </header>
    <table class="destinationsTable">
      <thead>
        <th colspan="2">Ohrid</th>
      </thead>
      <tbody>
        <tr>
          <td>
            Ohrid is a charming city, also known as the pearl of Macedonia, and
            beautiful Ohrid pearls are worn even by Queen Elisabeth II. Discover
            the most beautiful attractions of Ohrid, a city located on the shore
            of the picturesque Lake Ohrid at the foot of the Galicica Mountain
            Range. The uniqueness of this region is proven by the fact that it
            has been listed in the UNESCO World Heritage List since 1979. Its
            treasures of architecture and diverse nature make it an ideal summer
            destination.
          </td>
          <td>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/U2NMLyS-KqI"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </td>
        </tr>
        <tr>
          <td>Top Ten Places to visit in Ohrid</td>
          <td>
            <video
              src="../videos/10 BEST PLACES TO VISIT IN OHRID.mp4"
              id="videoOhrid"
              controls="1"
              muted
            ></video>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
