<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles.css" type="text/css" />
    <title>South Macedonia</title>
  </head>
  <body>
    <header>
      <div>
        <img
          id="logo"
          src="../pictures/LogosAndBackgrounds/logo.jpg"
          alt="logoHomepage"
        />
        <h1 id="titleHeading">
          Jobs fill your pockets, adventures fill your soul
        </h1>
      </div>
      <div id="navBarBase">
        <nav>
          <ul id="navBar">
            <li><a href="../templates/index.html">Home Page</a></li>
            <li>
              <a href="../templates/southMacedonia.html">South Macedonia</a>
            </li>
            <li>
              <a href="../templates/ohrid.html">Ohrid</a>
            </li>
            <li><a href="../templates/turkey.html">Turkey</a></li>
            <li><a href="../templates/registration.html">Let's Travel</a></li>
          </ul>
        </nav>
      </div>
      <form id="searchBar" action="">
        <ul>
          <li>
            <label for="search">Search</label>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="your favorite destination?"
            />
            <input type="submit" value="Go" id="submitButton" />
          </li>
        </ul>
      </form>
      <br />
    </header>
    <table class="destinationsTable">
      <thead>
        <th colspan="2">Halkidiki</th>
      </thead>
      <tbody>
        <tr>
          <td>
            Sithonia is the second “finger” of the Halkidiki Peninsula. Its
            nature fascinates even experienced travelers. The peninsula has
            become a popular destination for people, wishing to go away from the
            hustle and bustle of the city to spend some time within less crowded
            beaches, admire green landscapes, and immerse into the authentic
            atmosphere of the coastal villages.
          </td>
          <td>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/XooWy2STTVQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
