<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <title>Turkey</title>
  </head>
  <body>
    <header>
      <div>
        <img
          id="logo"
          src="../pictures/LogosAndBackgrounds/logo.jpg"
          alt="logoHomepage"
        />
        <h1 id="titleHeading">
          Jobs fill your pockets, adventures fill your soul
        </h1>
      </div>
      <div id="navBarBase">
        <nav>
          <ul id="navBar">
            <li><a href="../templates/index.html">Home Page</a></li>
            <li>
              <a href="../templates/southMacedonia.html">South Macedonia</a>
            </li>
            <li>
              <a href="../templates/ohrid.html">Ohrid</a>
            </li>
            <li><a href="../templates/turkey.html">Turkey</a></li>
            <li><a href="../templates/registration.html">Let's Travel</a></li>
          </ul>
        </nav>
      </div>
      <form id="searchBar" action="">
        <ul>
          <li>
            <label for="search">Search</label>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="your favorite destination?"
            />
            <input type="submit" value="Go" id="submitButton" />
          </li>
        </ul>
      </form>
      <br />
    </header>
    <table class="destinationsTable">
      <thead>
        <th colspan="2">Antalya</th>
      </thead>
      <tbody>
        <tr>
          <td>
            With a rich history and stunning natural landscape, Antalya is a
            unique summer destination. From the looming grandeur of the Taurus
            Mountains to secluded beaches that lead to ancient cities of former
            empires, here are some excellent reasons why you need to visit.
          </td>
          <td>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/dUGLTmbuSzg"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
