<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Momir Iliev" />
    <meta name="description" content="flex-box, containers" />
    <link rel="stylesheet" href="../assets/style.css" />
    <title>Homework Nr.8 : Working with Flexbox</title>
  </head>
  <body>
    <div class="flexContainer">
      <div class="topRowContainer">
        <div class="topRowLeftColumn">
          <div class="topElement"></div>
          <div class="bottomElement"></div>
        </div>
        <div class="topRowRightColumn"></div>
      </div>
      <div class="bottomRowContainer">
        <div class="bottomRowLeftColumn"></div>
        <div class="bottomRowRightColumn">
          <div class="leftElement"></div>
          <div class="rightColumnRightElement">
            <div class="rightElementTop"></div>
            <div class="rightElementBottom"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
