body {
    background-image: url("../pictures/LogosAndBackgrounds/backgroundRedYellow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.parentDiv {
    display: flex;
    width: 100%;
    height: 100%;
}

#logoImg {
    display: flex;
width: 100%;
height: 30vh;
position: relative;
}

#logo {
    width: 100%;
    height: 100%;
}

#companyName {
    position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 2vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: darkslategray;
    font-size: 4vw;
    text-align: center;
    margin: auto;

}

#titleHeading {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 2vh;
    text-align: center;
    margin: auto;
    font-style: italic;
    color: moccasin;
    font-size: 2vw;
}