<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="positioning, padding, margins, absolute positioning, relevant positioning"
    />
    <meta name="author" content="Momir Iliev" />
    <meta
      name="keywords"
      content="element positioning, margins, padding, absolute positioning, relevant positioning"
    />
    <link rel="stylesheet" href="../assets/styles.css" />
    <title>Homework Number 7</title>
  </head>
  <body>
    <div class="firstRowDiv allDiv">
      <p id="firstRowInnerText">Box Model Homework</p>
    </div>
    <div id="" class="secondRowPictures allDiv">
      <img src="../pictures/dogOne.jpg" alt="dogOne" class="pictures" />
      <img
        src="../pictures/dogTwo.jpg"
        alt="dogTwo"
        class="pictures"
        id="pictureTwo"
      />
      <img src="../pictures/dogThree.jpg" alt="dogThree" class="pictures" />
    </div>
    <div class="thirdRowBoxes allDiv">
      <div class="paddingBoxes boxOne">
        <div class="contentBox">Content Box</div>
      </div>
      <div class="paddingBoxes boxTwo">
        <div class="paddingBox">Padding Box</div>
      </div>
      <div class="paddingBoxes boxThree">
        <div class="borderBox">Border Box</div>
      </div>
    </div>
  </body>
</html>
